cython
submitit
scipy
rich
opencv-python==4.3.0.36
numpy==1.18.0
shapely
pandas
wandb
seaborn
scikit-learn
Embeddings2Image
pycocotools
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
